/*! CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! CSS Halaman full rekap */

body {
  background-color: #1b9046;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

main {
  margin: 50px auto;
  padding: 30px;
  width: 95%;
  height: 610px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
}

nav {
  float: left;
  font-weight: bold;
  font-size: large;
  width: 23%;
  height: 100%;
  text-align: center;
  color: #1b9046;
}

nav header {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20pt;
  font-weight: 900;
  line-height: 32px;
  -webkit-text-stroke: 0.5px #ffee98;
  /*? Untuk browser WebKit (Chrome, Safari) */
  text-stroke: 0.5px #ffee98;
  /*? Untuk browser yang mendukung standar CSS */
}

nav ul li {
  /*? CSS untuk sideMenu  */
  border: 2px solid #ffee98;
  border-radius: 15px;
  margin: 20px 40px;
  font-size: 20px;
  font-weight: 700;
}

nav ul li p {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

nav a {
  text-decoration: none;
  color: #1b9046;
}

nav .kotak-ikon {
  float: left;
  background-color: #ffee98;
  border-radius: 15px;
  width: 50px;
  height: 40px;
  border: 1px solid #ffee98;
}

nav img {
  width: 105px;
  position: relative;
  left: -9px;
  top: 24px;
}

nav .garis-bawah-gambar {
  /*? CSS untuk membuat bottom-line pada gambar*/
  margin: -10px auto 10px;
  width: 90px;
  border-bottom: 14px solid #1b9046;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

nav ul li:hover {
  background-color: #ffee98;
}

nav ul li:hover .kotak-ikon {
  background-color: #ffde38;
}

nav .kotak-ikon img {
  width: 27px;
  position: relative;
  top: 5px;
  left: 2px;
}

article {
  float: right;
  width: 75%;
  height: 100%;
  border: 1px solid transparent;
}

.container-tengah {
  float: left;
  width: 78%;
  height: 100%;
  border-radius: 20px;
  background-color: #1b9046;
  border: 1px solid transparent;
  padding: 15px;
  box-sizing: border-box;
}

/*! container rekap  */
.container-tengah .container-rekap {
  width: 100%;
  height: 515px;
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
  overflow: auto;
  box-sizing: border-box;
}

/*? Mengubah warna latar belakang scroll */
.container-tengah .container-rekap::-webkit-scrollbar {
  background-color: #18371599;
  width: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/*? Mengubah warna thumb (bagian yang dapat digeser) scroll */
.container-tengah .container-rekap::-webkit-scrollbar-thumb {
  background-color: rgb(40, 163, 40);
  width: 10px;
  border-radius: 1px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

/*? Mengubah warna thumb saat dihover */
.container-tengah .container-rekap::-webkit-scrollbar-thumb:hover {
  background-color: rgb(20, 127, 26);
}

.container-tengah .container-rekap .isi-rekap h1 {
  padding: 5px;
  width: 50%;
  margin: 20px auto;
  border: 1px solid #1b9046;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  -webkit-text-stroke: 2.3px #1b9046;
}

.container-tengah .container-rekap .isi-rekap h2 {
  width: 100%;
  margin: 40px auto 0px;
  padding: 5px;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: bold;
}

.container-tengah .container-rekap .isi-rekap h3 {
  width: 99%;
  margin: 20px auto 0ex;
  padding: 5px;
  padding-right: 29px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.container-tengah .container-rekap .isi-rekap table {
  width: 99%;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.container-tengah .container-rekap .isi-rekap table th,
td {
  border: 1px solid black;
}

.container-tengah .container-rekap .isi-rekap .form-catatan {
  width: 99%;
  margin: 5px auto 20px;
  border: 1px solid black;
  border-radius: 5px;
}

/* ------------------------- */
article .container-kanan {
  float: right;
  width: 19.2%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid transparent;
}

section .judul-kanan {
  width: 95%;
  margin: 10px auto;
  border: 1px solid transparent;
  text-align: center;
  padding: 5px 0;
}

section .judul-kanan h1 {
  font-size: 25px;
  font-weight: 900;
  color: #1b9046;
}

section .saldo-kanan {
  width: 95%;
  margin: 10px auto;
  border: 1px solid transparent;
  text-align: center;
  padding: 5px;
}

section .saldo-kanan .bg-kuning .tombol-ubah {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  text-align: center;
}

section .saldo-kanan .bg-kuning .tombol-ubah .constaint-ubah {
  width: 86%;
  margin: 5% auto;
  border: 1px solid transparent;
  text-align: right;
}

section .saldo-kanan .bg-kuning .tombol-ubah .constaint-ubah img {
  width: 19px;
}

section .saldo-kanan .bg-kuning .tombol-ubah .constaint-ubah img:hover {
  content: url("../image/Edit\ Hover.png");
}

section .saldo-kanan .bg-kuning .tombol-ubah .saldo-uang {
  margin: auto;
  margin-top: 20%;
  border: 1px solid transparent;
  font-size: 19px;
  font-weight: 800;
}

section .saldo-kanan .bg-kuning {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border: 1px solid transparent;
  text-align: center;
}

section .saldo-kanan .bg-kuning img {
  width: 168px;
  background-size: auto;
  margin-top: -20px;
  margin-bottom: -20px;
}

section .menu-kanan {
  width: 95%;
  margin: 20px auto;
  border: 1px solid transparent;
  text-align: center;
}

section .menu-kanan h1 {
  padding-bottom: 10px;
  color: #1b9046;
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}

section .menu-kanan button {
  background-color: transparent;
  width: 90%;
  padding: 9px 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 1px;
  color: #1b9046;
  border: 2px solid #ffee98;
}

section .menu-kanan a :hover {
  background-color: #ffde38;
}

/*! date picker  */
.calendar-input {
  width: 198px;
  cursor: pointer;
  padding: 5px 5px;
  border: 1px solid #1b9046;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 2px #1b9046;
}

.calendar-input input {
  margin: 0;
  padding: 4px;
  width: 182px;
}

/* ! BUTTON DOWNLOAD REKAP */
.isi-rekap form button {
  margin: 25px 36%;
  padding: 14px;
  background-color: #0088ff;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}