/*! CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! CSS Halaman tambah keuangan */

body {
  background-color: #1b9046;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

main {
  margin: 50px auto;
  padding: 30px;
  width: 95%;
  height: 610px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
}

nav {
  float: left;
  font-weight: bold;
  font-size: large;
  width: 23%;
  height: 100%;
  text-align: center;
  color: #1b9046;
}

nav header {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20pt;
  font-weight: 900;
  line-height: 32px;
  -webkit-text-stroke: 0.5px #ffee98;
  /*? Untuk browser WebKit (Chrome, Safari) */
  text-stroke: 0.5px #ffee98;
  /*? Untuk browser yang mendukung standar CSS */
}

nav ul li {
  /*? CSS untuk sideMenu  */
  border: 2px solid #ffee98;
  border-radius: 15px;
  margin: 20px 40px;
  font-size: 20px;
  font-weight: 700;
}

nav ul li p {
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: #1b9046;
}

nav .kotak-ikon {
  float: left;
  background-color: #ffee98;
  border-radius: 15px;
  width: 50px;
  height: 40px;
  border: 1px solid #ffee98;
}

nav img {
  width: 105px;
  position: relative;
  left: -9px;
  top: 24px;
}

nav .garis-bawah-gambar {
  /*? CSS untuk membuat bottom-line pada gambar*/
  margin: -10px auto 10px;
  width: 90px;
  border-bottom: 14px solid #1b9046;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

nav ul li:hover {
  background-color: #ffee98;
}

nav ul li:hover .kotak-ikon {
  background-color: #ffde38;
}

nav .kotak-ikon img {
  width: 27px;
  position: relative;
  top: 5px;
  left: 2px;
}

article {
  float: right;
  width: 75%;
  height: 100%;
  border-radius: 20px;
  background-color: #1b9046;
}

article .judul {
  /* border: white 3px solid; */
  margin: 10px auto 20px;
  text-align: center;
  width: 93%;
  padding: 0;
  letter-spacing: -1px;
  font-size: 3em;
  font-weight: 900;
  color: #1b9046;
  -webkit-text-stroke: 2.5px #fff;
}

section {
  margin: 50px auto;
  width: 93%;
  height: 75%;
  /* border: 1px solid white; */
  border-radius: 20px;
  padding: 30px 25px 10px;
  font-weight: bold;
}

section .dropdown {
  margin: 5px 0;
}

section label {
  color: white;
}

section form button {
  margin: 25px 5px 0;
  float: right;
  border-color: white;
  background-color: transparent;
  width: 10%;
  padding: 7px;
  color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px black;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

section form button:hover {
  background-color: rgba(255, 255, 255, 0.649);
  color: #1b9046;
  box-shadow: 5px 5px 5px black;
  transform: translateY(-3px) scale(1.02);
}

section form button:active {
  box-shadow: 2px 2px 2px black;
}
